{% extends 'accounts/base.html' %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="form-card login-card mx-auto">

        <h2 class="page-title">
            Forgot Password
        </h2>

        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}

        {% if success %}
            <div class="alert alert-success">
                {{ success }}
            </div>

            <div class="text-center mt-3">
                <a
                    href="{% url 'login' %}"
                    class="btn btn-primary"
                >
                    Go to Login
                </a>
            </div>

        {% else %}

        <form method="post">

            {% csrf_token %}

            <div class="mb-3">

                <label class="form-label">
                    Email
                </label>

                <input
                    type="email"
                    name="email"
                    value="{{ email }}"
                    class="form-control"
                    required
                >

            </div>

            <div class="mb-3">

                <label class="form-label">
                    New Password
                </label>

                <input
                    type="password"
                    name="new_password"
                    class="form-control"
                    required
                >

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Confirm Password
                </label>

                <input
                    type="password"
                    name="confirm_password"
                    class="form-control"
                    required
                >

            </div>

            <button
                type="submit"
                class="btn btn-primary w-100"
            >
                Reset Password
            </button>

        </form>

        {% endif %}

    </div>

</div>

{% endblock %}